 @import "colors";
 @import "animations";

.animate {
    border-top: 0;
    animation: fadeInText 250ms 0ms;
}

.stacktrace {
    display: table-cell;
    vertical-align: middle !important;
}

.checkered {
    background-color: $checkered;
}

.show-inline {
    display:inline-block;
}