{{!-- This is the property of Iconfinder, found at https://www.iconfinder.com/icons/211739/eye_icon
Distributed under the MIT license. For the full MIT license, see https://opensource.org/licenses/MIT. --}}

<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" class="navbar-icon replaced-svg" viewBox="0 0 512 512">

 <g>
  <title>background</title>
  <rect fill="none" id="canvas_background" height="402" width="582" y="-1" x="-1"></rect>
 </g>
 <g>
  <title>Layer 1</title>
  <path fill="#ffffff" id="svg_2" d="m447.1,256.2c-45.3,-52.2 -107.9,-112.2 -191.1,-112.2c-33.6,0 -64.4,9.5 -96.9,29.8c-27.4,17.2 -55.5,41.4 -94.1,81.2l-1,1l6.7,6.9c55.1,56.4 102.7,105.1 185.3,105.1c36.5,0 71.9,-11.9 108.2,-36.4c30.9,-20.9 57.2,-47.4 78.3,-68.8l5.5,-5.5l-0.9,-1.1zm-191.1,79.8c-44.1,0 -80,-35.9 -80,-80c0,-44.1 35.9,-80 80,-80c44.1,0 80,35.9 80,80c0,44.1 -35.9,80 -80,80z"></path>
  <path fill="#ffffff" id="svg_3" d="m250.4,226.8c0,-6.9 2,-13.4 5.5,-18.8c-26.5,0 -47.9,21.6 -47.9,48.2c0,26.6 21.5,48.1 47.9,48.1s48,-21.5 48,-48.1l0,0c-5.4,3.5 -11.9,5.5 -18.8,5.5c-19.1,-0.1 -34.7,-15.7 -34.7,-34.9z"></path>
 </g>
</svg>