<nav class="navbar navbar-default navbar-pf" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">
        <div class="icon-text-holder">
            <span>Noe</span>
            <span class="navbar-icon">{{> icon}}</span>
            <span>Watch</span>
        </div>
    </a>
  </div>
  <div class="collapse navbar-collapse navbar-collapse-1">
    <ul class="nav navbar-nav navbar-primary">
      {{#each this}}
        <li class="{{this.class}}">
          <a href="/?project={{this.name}}">{{this.name}}</a>
        </li>
      {{/each}}
    </ul>
  </div>
</nav>