<html lang="en">
  <head>
    <title>NOE Watcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/patternfly/css/patternfly.min.css">
    <link rel="stylesheet" type="text/css" href="/patternfly/css/patternfly-additions.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    {{{body}}}
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/patternfly/js/patternfly.min.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>