<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h1><b>NOE Watcher</b> for all platforms</h1>
      </div>
    </div>
  <table class="table table-hover ">
    <thead class="thead-light">
      <tr>
        <th><h1>FQCN</h1></th>
        <th><h1>Fail message</h1></th>
        <th><h1># Of Fails</h1></th>
        <th><h1>Stacktrace</h1></th>
      </tr>
    </thead>
    <tbody>
      <tr class="warning">
        <td colspan="4"><h2 class="show-inline">RHEL</h2> <span class="js_triggerable show-inline badge badge-secondary">Toggle all for platform</span></td>
      </tr>
      {{> table rhelArray}}
      <tr class="warning">
        <td colspan="4"><h2 class="show-inline">Windows</h2> <span class="js_triggerable show-inline badge badge-secondary">Toggle all for platform</span></td>
      </tr>
      {{> table winArray}}
      <tr class="warning">
        <td colspan="4"><h2 class="show-inline">Solaris</h2> <span class="js_triggerable show-inline badge badge-secondary">Toggle all for platform</span></td>
      </tr>
      {{> table solArray}}
    </tbody>
  </table>   
</div>
