<div class="container">

    <!-- Just enjoy various PatternFly components -->
    <div class="alert alert-success">
      <span class="pficon pficon-ok"></span>
      <span>Hello {{name}}</span>
      <strong>Great job!</strong> This is really working out <a href="#" class="alert-link">great for us</a>.
    </div>

  </div>
